
<div>

    <div class="bg-gradient-to-r from-purple-500 to-indigo-500">
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold text-white">{{ role }} Ticket List</h1>
    </div>
    </div>
    {{#if tickets.length}}
    <table class="min-w-full divide-y divide-gray-200">
        <thead>
            <tr>
                <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Assigned To</th>
                <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Created By</th>
                <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Description</th>
                <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Title</th>
                <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Created At</th>
                <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Status</th>
                {{#if isTech}}
                <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Resolve</th>
                {{/if}}
            </tr>
        </thead>
        <tbody>
            {{#each tickets}}
            <tr class="bg-white">
                <td class="px-6 py-4 whitespace-nowrap">{{ assigned_to }}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{ created_by }}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{ description }}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{ title }}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{ createdAt }}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{ status }}</td>
                {{#if isTech}}
                <td class="px-6 py-4 whitespace-nowrap">
                    <button class="bg-violet-500 hover:bg-violet-700 text-white font-bold py-2 px-4 rounded" onclick="resolveTicket('{{id}}')">Resolve</button>
                </td>
                {{/if}}
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
      <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
        <p  class="text-lg text-gray-500">No tickets available at the moment.</p>
      </div>
    {{/if}}


</div>

<script>
    function resolveTicket(id) {
        const token = localStorage.getItem('token');
        fetch(`/ticket/${id}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
                'x-access-token': token,
            },
            body: JSON.stringify({ status: 'closed' }),

        })
        .then(response => {
            if (response.status === 401) {
                window.location.href = '/unauthorized';
            } else if (response.status === 500) {
                window.location.href = '/internal_error';
            } 
            else {
                window.location.href = `/?token=${token}`;
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
</script>